/*general style*/
.btn {
    width: 140px;
}

h1 {
    margin: 0px;
    padding: 0px;
}

input[type=radio] {
    margin-left: 20px;
}

img {
    width: 200px;
    height: 150px;
}

/*end general style*/

header h3 {
    margin-left: 105px;
}

.container {
    /*margin-top: 20px;*/
    border: 1px solid #c6c8ca;
    border-radius: 5px;
}

.random {
    margin-top: 5px;
    height: 180px;
    /*border: 1px solid black;*/
    overflow: hidden;
}

.random .info h6 {
    height: 40px;
}

.random .info img {
    width: 90%;
    height: 140px;
}

.buttons {
    position: relative;
}

.random #btn1_random_beer {
    position: absolute;
    top: 20px;
}

.random #btn2_more_beers {
    height: 40px;
    font-size: 10px;
    position: absolute;
    bottom: 15px;
}

/*end random section styling*/

.search_form {
    margin-bottom: 50px;
    width: 100%;
    /*border-bottom: 1px dashed black;*/
}

.search_options {
    border: 1px solid #c6c8ca;
    border-radius: 4px;
    height: 40px;
}

#search_button {
    margin-left: 25px;
}

.search_results {
    height: 500px;
    overflow: scroll;
}

.results_head:after {
    content: '';
    display: block;
    width: 185px;
    height: 3px;
    background-color: #c6c8ca;
    /*margin: 25px auto;*/
}

.result {
    height: 180px;
    border-left: 2px solid black;
}

.result .info h6 {
    height: 20px;
}



